.btn {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid black;

  &.iconButton {
    background-color: transparent;
    border: none;
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    width: auto;
    height: 1.5rem;

    .icon {
      width: 24px; /* Set the width of the icon */
      height: 24px; /* Set the height of the icon */
      margin-right: 8px;
    }
  }

  &.iconButton:hover {
    color: #0056b3;
  }

  &.iconButton:active {
    background-color: transparent;
    //color: #0056b3;
  }

  &.iconButton:focus {
    background-color: transparent;
    //border: 1px solid #7fbdff;
    //color: #2273cf;
  }

  &.iconButton:disabled {
    color: #696969;
    cursor: default;
    pointer-events: none;
  }

  &.active {
    //border: 1px solid #7fbdff;
  }
}
