.control-container {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: 92vh;
  width: 10rem;
  background-color: grey;
  z-index: 100;
  padding: 1rem 2rem;
  margin: 0.5rem;
  border-radius: 10px;

  .control-panel-header {
    font-weight: bold;
  }
}
